.*
!.gitignore

# SBT project directories
project/target/
target/

# File that clustering results are written to.
*clustering-results*

*.eml
*.userlibraries
*transformed*

*META-INF*

unique_tracks.txt
